<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{companyEdit.title}">Изменение параметров предприятия</title>
    <style type="text/css">
#my_body        { background-color: #fffff5; height: 100%; }
h1              { text-align: center }
.center         { text-align: center }
.btn2           { font-size: 16pt; color: #fff; background-color: #5cb85c; border-color: #4cae4c; margin: 5px; display:inline-block; }
table           { width: 80%; margin-left: auto; margin-right: auto }
table tbody     { height: 500px; overflow-y: scroll; display: block; }
table thead     { display: block; }
.row            { margin-top: 10px; }
label           { display: inline-block; width: 150px; }
input:read-only { background: lightgray; }
#name-input     { width: 500px }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body id="my_body">

    <form id="edit-form" action="companyEdit.html">
        <div>
            <h1 th:text="#{companyEdit.title}">Изменение параметров предприятия</h1>
        </div>

        <div class="row">
            <label for="id-input" th:text="#{companyEdit.id}">Идентификатор:</label>
            <input id="id-input" type="text" readonly="readonly" value="1"/>
        </div>

        <div class="row">
            <label for="name-input" th:text="#{companyEdit.name}">Наименование:</label>
            <input id="name-input" name="name" type="text" value="Рога и копыта"/>
        </div>

        <div class="row">
            <label for="inn-input" th:text="#{companyEdit.inn}">ИНН:</label>
            <input id="inn-input" name="inn" type="text" value="770211001"/>
        </div>

        <div class="row">
            <label for="kpp-input" th:text="#{companyEdit.kpp}">КПП:</label>
            <input id="kpp-input" name="kpp" type="text" value="770201001"/>
        </div>

        <div class="row">
            <label for="pfr-input" th:text="#{companyEdit.pfr}">Рег.номер в ПФР:</label>
            <input id="pfr-input" name="pfr" type="text" value="087-109-654321"/>
        </div>

        <div class="row">
            <label for="position-input" th:text="#{companyEdit.position}">Должность руководителя:</label>
            <input id="position-input" name="position" type="text" value="Директор"/>
        </div>

        <div class="row">
            <label for="fio-input" th:text="#{companyEdit.fio}">ФИО руководителя:</label>
            <input id="fio-input" name="fio" type="text" value="Иванов И.И."/>
        </div>

        <div class="center">
            <button id="returnButton" type="button" class="btn2" th:text="#{companyEdit.back}">Назад</button>
            <button type="submit" class="btn2" th:text="#{companyEdit.save}">Сохранить</button>
        </div>
    </form>
    <script>
        $(function () {
            $.get('/company/1').done(function (company) {
                $("#id-input").val(company.companyId);
                $("#name-input").val(company.companyName);
                $("#inn-input").val(company.companyInn);
                $("#kpp-input").val(company.companyKpp);
                $("#pfr-input").val(company.companyPfr);
                $("#position-input").val(company.chiefPosition);
                $("#fio-input").val(company.chiefFio);
            })
        });
        $("#edit-form").submit(function(company) {
            event.preventDefault();
            var data = {}
            data["companyId"] = 1;
            data["companyName"] = $("#name-input").val();
            data["companyInn"] = $("#inn-input").val();
            data["companyKpp"] = $("#kpp-input").val();
            data["companyPfr"] = $("#pfr-input").val();
            data["chiefPosition"] = $("#position-input").val();
            data["chiefFio"] = $("#fio-input").val();
            $.ajax({
                url: '/company',
                type: 'PUT',
                contentType: "application/json",
                data: JSON.stringify(data),
                dataType: 'json',
                "error": function (xhr, status, error) {
                    if(xhr.status=200) {
                        var url2 = "/companyView";
                        $(location).attr('href',url2);

                    } else {
                        var errorMessage = xhr.status + ': ' + xhr.responseText;
                        alert('Error - ' + errorMessage);
                    }
                }
            });
        });
        $("#returnButton").click(function() {
            event.preventDefault();
            var url2 = "/companyView";
            $(location).attr('href',url2);
        });
    </script>

</body>
</html>
