<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{empBookAdd.title}">Добавление записи трудовой книжки</title>
    <style>
#my_body        { background-color: #fffff5; height: 100%; }
h1              { text-align: center }
.center         { text-align: center }
.btn2           { font-size: 16pt; color: #fff; background-color: #5cb85c; border-color: #4cae4c; margin: 5px; display:inline-block; }
table           { width: 80%; margin-left: auto; margin-right: auto }
table tbody     { height: 500px; overflow-y: scroll; display: block; }
table thead     { display: block; }
.row            { margin-top: 10px; }
label           { display: inline-block; width: 150px; }
input:read-only { background: lightgray; }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body id="my_body">

    <form id="edit-form" action="employeeList.html">
        <div>
            <h1 th:text="#{empBookAdd.title}">Добавление записи трудовой книжки</h1>
        </div>

        <div class="row">
            <label for="date-input" th:text="#{empBookAdd.date}">Дата:</label>
            <input id="date-input" name="date" type="text" value="2020-01-01"/>
        </div>

        <div class="row">
            <label for="type-input" th:text="#{empBookAdd.type}">Тип записи:</label>
            <select id = "type-input" name="type">
            </select>
        </div>

        <div class="row">
            <label for="position-input" th:text="#{empBookAdd.position}">Трудовая функция:</label>
            <input id="position-input" name="position" type="text" value="Бухгалтер"/>
        </div>

        <div class="row">
            <label for="code-input" th:text="#{empBookAdd.code}">Код выполняемой функции:</label>
            <input id="code-input" name="code" type="text" value="Код"/>
        </div>

        <div class="row">
            <label for="reason-input" th:text="#{empBookAdd.reason}">Причина увольнения:</label>
            <input id="reason-input" name="reason" type="text" value="Прогул"/>
        </div>

        <div class="row">
            <label for="docname-input" th:text="#{empBookAdd.docname}">Основание: наименование документа:</label>
            <input id="docname-input" name="docname" type="text" value="Приказ"/>
        </div>

        <div class="row">
            <label for="docdate-input" th:text="#{empBookAdd.docdate}">Основание: дата документа:</label>
            <input id="docdate-input" name="docdate" type="text" value="2020-02-01"/>
        </div>

        <div class="row">
            <label for="docnumber-input" th:text="#{empBookAdd.docnumber}">Основание: номер документа:</label>
            <input id="docnumber-input" name="docnumber" type="text" value="123"/>
        </div>

        <div class="row">
            <label for="cancel-input" th:text="#{empBookAdd.cancel}">Признак отмены:</label>
            <input id="cancel-input" name="cancel" type="text" value="Прогул"/>
        </div>
        
        <div class="center">
            <button id="returnButton" class="btn2" th:text="#{empBookAdd.back}">Назад</button>
            <button type="submit" class="btn2" th:text="#{empBookAdd.save}">Сохранить</button>
        </div>
    </form>
    <script>
        $(function () {
            $.get('/recordtype').done(function (recordtypes) {
                var $typeInput = $("#type-input");
                recordtypes.forEach(function (recordtype) {
                    $typeInput.append($("<option />").val(recordtype.recordTypeId).text(recordtype.typeName));
                });
            })
        });
        $(function () {
            $("#date-input").val("");
            $("#position-input").val("");
            $("#code-input").val("");
            $("#reason-input").val("");
            $("#docname-input").val("");
            $("#docdate-input").val("");
            $("#docnumber-input").val("");
            $("#cancel-input").val("");
        });
        $("#edit-form").submit(function(event) {
            event.preventDefault();
            let url = new URL(window.location.href);
            let employeeId = url.searchParams.get("employeeId");
            var data = {}
            data["employeeId"] = employeeId;
            data["date"] = $("#date-input").val();
            data["position"] = $("#position-input").val();
            data["code"] = $("#code-input").val();
            data["reason"] = $("#reason-input").val();
            data["docName"] = $("#docname-input").val();
            data["docDate"] = $("#docdate-input").val();
            data["docNumber"] = $("#docnumber-input").val();
            data["cancel"] = $("#cancel-input").val();
            data["typeCodeId"] = $("#type-input option:selected").val();
            $.post({
                url : '/record',
                contentType: "application/json",
                data: JSON.stringify(data),
                dataType: 'json',
                success: function(result) {
                    var url2 = "/empBookView?id=" + employeeId;
                    $(location).attr('href',url2);
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.responseText;
                    alert('Error - ' + errorMessage);
                }
            })
        });
        $("#returnButton").click(function() {
            event.preventDefault();
            let url = new URL(window.location.href);
            let employeeId = url.searchParams.get("employeeId");
            var url2 = "/empBookView?id=" + employeeId;
            $(location).attr('href',url2);
        });
    </script>
</body>
</html>
