<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{employeeDelete.title}">Удаление сотрудника</title>
    <style>
#my_body        { background-color: #fffff5; height: 100%; }
h1              { text-align: center }
.center         { text-align: center }
.btn2           { font-size: 16pt; color: #fff; background-color: #5cb85c; border-color: #4cae4c; margin: 5px; display:inline-block; }
.row            { margin-top: 10px; }
label           { display: inline-block; width: 150px; }
input:read-only { background: lightgray; }
    </style>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>
</head>
<body id="my_body">

    <form id="edit-form" action="employeeDelete.html">
        <div>
            <h1 th:text="#{employeeDelete.title}">Удаление сотрудника</h1>
        </div>
        
        <div class="row">
            <label for="id-input" th:text="#{employeeEdit.id}">Идентификатор:</label>
            <input id="id-input" type="text" readonly="readonly" value="1"/>
        </div>
        
        <div class="row">
            <label for="lastname-input" th:text="#{employeeEdit.lastname}">Фамилия:</label>
            <input id="lastname-input" name="lastname" type="text" readonly="readonly" value="Иванов"/>
        </div>
        
        <div class="row">
            <label for="firstname-input" th:text="#{employeeEdit.firstname}">Имя:</label>
            <input id="firstname-input" name="firstname" type="text" readonly="readonly" value="Иван"/>
        </div>

        <div class="row">
            <label for="middlename-input" th:text="#{employeeEdit.middlename}">Отчество:</label>
            <input id="middlename-input" name="middlename" type="text" readonly="readonly" value="Иванович"/>
        </div>

        <div class="row">
            <label for="birthday-input" th:text="#{employeeEdit.birthday}">Имя:</label>
            <input id="birthday-input" name="birthday" type="text" readonly="readonly" value="1990-12-31"/>
        </div>

        <div class="row">
            <label for="snils-input" th:text="#{employeeEdit.snils}">Снилс:</label>
            <input id="snils-input" name="snils" type="text" readonly="readonly" value="11111"/>
        </div>

        <div class="center">
            <button id="returnButton" class="btn2" th:text="#{employeeEdit.back}">Назад</button>
            <button type="submit" class="btn2" th:text="#{employeeDelete.delete}">Удалить</button>
        </div>
    </form>
    <script>
        $(function () {
            let url = new URL(window.location.href);
            let id = url.searchParams.get("id");
            $.get('/api/v1/employee/' + id).done(function (employee) {
                $("#id-input").val(employee.employeeId);
                $("#lastname-input").val(employee.lastName);
                $("#firstname-input").val(employee.firstName);
                $("#middlename-input").val(employee.middleName);
                $("#birthday-input").val(employee.birthday);
                $("#snils-input").val(employee.snils);
            })
        });
        $("#edit-form").submit(function(event) {
            event.preventDefault();
            let url = new URL(window.location.href);
            let id = url.searchParams.get("id");
            $.ajax({
                url: '/api/v1/employee/' + id,
                type: 'DELETE',
                success: function(result) {
                    var url = "/employeeList";
                    $(location).attr('href',url);
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.responseText;
                    alert('Error - ' + errorMessage);
                }
            });
        });
        $("#returnButton").click(function() {
            event.preventDefault();
            var url = "/employeeList";
            $(location).attr('href',url);
        });
    </script>
</body>
</html>
