<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{genres.title}">Список жанров</title>
    <style>
body                { padding: 50px; }
h1                  { text-align: left }
.genres, .genres td { border: 1px solid lightgray; padding: 5px; }
    </style>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>
</head>
<body>
    <div>
        <h1 th:text="#{genres.title}">Список жанров</h1>
    </div>
    <div>
        <table class="genres">
            <thead>
            <tr>
                <th th:text="#{genres.id}">Идентификатор</th>
                <th th:text="#{genres.name}">Наименование</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            $.get('/api/v1/genre').done(function (genres) {
                genres.forEach(function (genre) {
                    $('tbody').append(`
                    <tr>
                        <td>${genre.genreId}</td>
                        <td>${genre.genreName}</td>
                    </tr>
                `)
                });
            })
        });
    </script>
</body>
</html>
