<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{index.title}">Электронная трудовая книжка</title>
    <style>
#my_body { text-align: center; background-color: #fffff5 }
h1       { text-align: center }
.btn     { font-size: 16pt; color: #fff; background-color: #5cb85c; border-color: #4cae4c }
    </style>
</head>
<body id="my_body">
    <div>
        <h1 th:text="#{index.welcome}">Добро пожаловать</h1>
        <h1 th:text="#{index.toebook}">в "Электронную трудовую книжку"</h1>
    </div>
    <div>
        <button type="button" class="btn" onclick="location.href='/login'" th:text="#{index.input}">Войти</button>
    </div>
</body>
</html>
