<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{userAdd.title}">Добавление пользователя</title>
    <style>
#my_body        { background-color: #fffff5; height: 100%; }
h1              { text-align: center }
.rolesysname    { width: 120px; text-align: left }
.empfio         { width: 260px; text-align: left }
.login          { width: 100px; text-align: left }
.password       { width: 550px; text-align: left }
.isenabled      { width: 80px; text-align: left }
.email          { width: 150px; text-align: left }
.center         { text-align: center }
.btn2           { font-size: 16pt; color: #fff; background-color: #5cb85c; border-color: #4cae4c; margin: 5px; display:inline-block; }
.row            { margin-top: 10px; }
label           { display: inline-block; width: 150px; }
input:read-only { background: lightgray; }
    </style>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>
</head>
<body id="my_body">

    <form id="edit-form" action="employeeList.html">
        <div>
            <h1 th:text="#{userAdd.title}">Добавление пользователя</h1>
        </div>

        <div class="row">
            <label for="rolesysname-input" th:text="#{userAdd.rolesysname}">Системное имя роли:</label>
            <select id = "rolesysname-input" name="rolesysname">
            </select>
        </div>

        <div class="row">
            <label for="empfio-input" th:text="#{userAdd.empfio}">ФИО сотрудника:</label>
            <select id = "empfio-input" class="empfio" name="empfio">
            </select>
        </div>

        <div class="row">
            <label for="login-input" th:text="#{userAdd.login}">Логин:</label>
            <input id="login-input" class="login" name="login" type="text" value="vasya"/>
        </div>

        <div class="row">
            <label for="password-input" th:text="#{userAdd.password}">Хэш пароля:</label>
            <input id="password-input" class="password" name="password" type="text" value="12345"/>
        </div>

        <div class="row">
            <label for="isenabled-input" th:text="#{userAdd.isenabled}">Активен:</label>
            <input id="isenabled-input" class="isenabled" name="isenabled" type="text" value="True"/>
        </div>

        <div class="row">
            <label for="email-input" th:text="#{userAdd.email}">Эл.почта:</label>
            <input id="email-input" class="email" name="email" type="text" value="vasya@mail.ru"/>
        </div>

        <div class="center">
            <button id="returnButton" class="btn2" th:text="#{userAdd.back}">Назад</button>
            <button type="submit" class="btn2" th:text="#{userAdd.save}">Сохранить</button>
        </div>
    </form>
    <script>
        $(function () {
            $.get('/api/v1/authrole').done(function (roles) {
                var $rolesysnameInput = $("#rolesysname-input");
                roles.forEach(function (role) {
                    $rolesysnameInput.append($("<option />").val(role.roleId).text(role.roleSysName));
                });
            })
        });
        $(function () {
            $.get('/api/v1/employee').done(function (employees) {
                var $empfioInput = $("#empfio-input");
                employees.forEach(function (employee) {
                    $empfioInput.append($("<option />").val(employee.employeeId).text(employee.empFio));
                });
            })
        });
        $(function () {
            $("#login-input").val("");
            $("#password-input").val("");
            $("#isenabled-input").val("");
            $("#email-input").val("");
        });
        $("#edit-form").submit(function(event) {
            event.preventDefault();
            var data = {}
            data["userId"] = 0;
            data["login"] = $("#login-input").val();
            data["password"] = $("#password-input").val();
            data["isEnabled"] = $("#isenabled-input").val();
            data["email"] = $("#email-input").val();
            data["employeeId"] = $("#empfio-input option:selected").val();
            data["roleid"] = $("#rolesysname-input option:selected").val();
            $.post({
                url : '/api/v1/authuser',
                contentType: "application/json",
                data: JSON.stringify(data),
                dataType: 'json',
                success: function(result) {
                    var url2 = "/userList";
                    $(location).attr('href',url2);
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.responseText;
                    alert('Error - ' + errorMessage);
                }
            })
        });
        $("#returnButton").click(function() {
            event.preventDefault();
            var url2 = "/userList";
            $(location).attr('href',url2);
        });
    </script>
</body>
</html>
